# Backend
backend/.env
backend/.env.local
backend/tmp/
backend/log/
backend/storage/
backend/.bundle/
backend/vendor/bundle/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# General
.DS_Store
*.log
